<section class="Singup-wrap mtb-40">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="login-box">
          <h1>Edit Customer Details</h1>
          <div class="alert alert-danger" *ngIf="datasaved">
            {{ message }}
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="regForm">
            <!--Firstname-->
            <div class="form-group form-row">
              <label class="col-md-3"
                >First Name : <span class="required">*</span></label
              >
              <div class="col-md-9">
                <input
                  [(ngModel)]="firstName"
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                  required=""
                  value=""
                />
                <span
                  *ngIf="
                    !regForm.get('firstName')?.valid &amp;&amp; regForm.get('firstName')?.touched
                  "
                  >Please enter Your Name !!!</span
                >
              </div>
            </div>

            <!--SecondName-->
            <div class="form-group form-row">
              <label class="col-md-3">Last Name : <span></span></label>
              <div class="col-md-9">
                <input
                  [(ngModel)]="lastName"
                  type="text"
                  formControlName="lastName"
                  class="form-control"
                  required=""
                />
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3"
                >Email ID <span class="required">*</span></label
              >
              <div class="col-md-9">
                <input
                  [(ngModel)]="emailAddress"
                  type="text"
                  formControlName="emailAddress"
                  class="form-control"
                  required=""
                />
                <span
                  *ngIf="
                    !regForm.get('emailAddress')?.valid &amp;&amp;
                    regForm.get('emailAddress')?.touched
                  "
                  >Please enter Email ID !!!</span
                >
              </div>
            </div>

            <!--PHone Number-->
            <div class="form-group form-row">
              <label class="col-md-3"
                >Phone Number : <span class="required">*</span></label
              >
              <div class="col-md-9">
                <input
                  [(ngModel)]="phoneNumber"
                  type="text"
                  formControlName="phoneNumber"
                  class="form-control"
                  required=""
                />
                <span
                  *ngIf="
                    !regForm.get('phoneNumber')?.valid &amp;&amp; regForm.get('phoneNumber')?.touched
                  "
                  >Please enter Your Phone Number !!!</span
                >
              </div>
            </div>

            <!--Date of Birth-->
            <div class="form-group form-row">
              <label class="col-md-3"
                >Date of Birth : <span class="required">*</span></label
              >
              <div class="col-md-9">
                <input
                  [(ngModel)]="dob"
                  type="text"
                  formControlName="dob"
                  class="form-control"
                  required=""
                />
                <span
                  *ngIf="
                    !regForm.get('dob')?.valid &amp;&amp; regForm.get('dob')?.touched
                  "
                  >Please enter Your Date of Birth !!!</span
                >
              </div>
            </div>

            <div class="form-group form-row">
              <label class="col-md-3">Department <span></span></label>
              <div class="col-md-9">
                <input
                  [(ngModel)]="department"
                  type="department"
                  formControlName="department"
                  class="form-control"
                  required=""
                />
              </div>
            </div>

            <div class="form-group">
              <button
                type="submit"
                [disabled]="!regForm.valid"
                class="btn btn-primary"
              >
                Update Customer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
