<main class="main-content">
  <div class="container-fluid">
    <div class="d-flex">
      <div class="">
        <h3 class="page-title">Invoices</h3>
      </div>
      <div class="">
        <ul class="block-tools g-3">
          <li>
            <a href="#" class="btn btn-primary">
              <em class="icon ni ni-download-cloud"></em>
              <span>Create New Invoice</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-inner pt-4">
          <div class="">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Educational Loan
                <span class="badge rounded-pill"
                  ><span class="mr-right text-muted fs-6 fw-light"
                    >created on 12-12-2020</span
                  ></span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Commercial Loan
                <span class="badge rounded-pill"
                  ><span class="mr-right text-muted fs-6 fw-light"
                    >updated on 12-12-2020</span
                  ></span
                >
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Personal Loan
                <span class="badge rounded-pill"
                  ><span class="mr-right text-muted fs-6 fw-light"
                    >deleted on 12-12-2020</span
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
